@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
    <meta charset="utf-8">  
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/demo.min.css">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~/Content/Images/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Images/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Images/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Images/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~/Content/Images/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/Content/Images/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/Content/Images/splash/iphone.png" media="screen and (max-device-width: 320px)">
   
</head>

<body class="animated fadeInDown">

    <header id="header">

        <div id="logo-group">
            <span id="logo"> <img src="~/Content/Images/tnalogoblack.png" alt="TN Analytics"> </span>
        </div>

        <span id="extr-page-header-space"> <span class="hidden-mobile">Need an account?</span> <a href="@Url.Action("CompanyInfo","ClientSetup")" class="btn btn-primary">Create New Account</a></span>
    </header>

    <div id="main" role="main">

        <!-- MAIN CONTENT -->
        <div id="content" class="container">
        
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                    <h1 class="txt-color-blue login-header-big"><strong>ONE</strong> MDC</h1>
                    <div class="hero">
                        <div class="pull-left login-desc-box-l">
                            <h4 class="paragraph-header">We do big data fast.  Create rich analyses and share your insights in minutes.</h4>
                            <div class="login-app-icons">
                                <a href="http://terranovaanalytics.com/" class="btn btn-primary btn-sm">Home Page</a>
                                <a href="http://terranovaanalytics.com/Home/Contact" class="btn btn-primary btn-sm">Find out more</a>
                            </div>
                        </div>
                        <img src="~/Content/Images/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h5 class="about-heading">Are you measuring what matters?</h5>
                            <p>
                                Select from our KPI's and in a single view see all the information that matters most.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h5 class="about-heading">Not just your average application!</h5>
                            <p>
                                All you business data, right at arms reach!
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                    <div class="well no-padding">
                       
                        <form action="" method="post" id="login-form" class="smart-form client-form">
                            @Html.AntiForgeryToken()
                            <header>
                                Sign In
                            </header>

                            <fieldset>
                                <section>
                                    <label class="label">E-mail</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="email" name="email" id="email">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b>
                                    </label>
                                </section>

                                <section>
                                    <label class="label">Password</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="password" id="password">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b>
                                    </label>
                                    <div class="note">
                                        <a href="@Url.Action("ForgotPassword", "Login")" id="a_fp">Forgot password?</a>
                                    </div>
                                </section>
                                <div id="resultMessage">  
                                </div>                              
                                <div id="divProcessing" class="text-center">
                                    <p><img src="~/Content/Images/blue-loader.gif"></p>
                                </div>
                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary" id="btn_login" name="btn_login">
                                    Sign in
                                </button>
                            </footer>
                        </form>

                    </div>
                    <div class="pull-right">
                        <a href="http://instantssl.com/ssl-certificate.html" style="text-decoration:none; ">
                            <img alt="SSL Certificate" src="~/Content/Images/ssl/comodo_secure_100x85_transp.png"
                                 style="border: 0px;" /><br />
                            <span style="font-weight:bold; font-size:12px; padding-left:8px; color:#77BAE4;">SSL Certificate</span>
                        </a><br>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
  @*<script src="~/Scripts/plugin/pace/pace.min.js"></script>*@

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="~/Scripts/libs/jquery-2.0.2.min.js"></script>
    <script> if (!window.jQuery) { document.write('<script src="~/Scripts/libs/jquery-2.0.2.min.js"><\/script>'); } </script>

    <script src="~/Scripts/libs/jquery-ui-1.10.3.min.js"></script>
    <script> if (!window.jQuery.ui) { document.write('<script src="~/Scripts/libs/jquery-ui-1.10.3.min.js"><\/script>'); } </script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
    <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
    <!-- BOOTSTRAP JS -->
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="~/Scripts/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="~/Scripts/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!--[if IE 8]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- MAIN APP JS FILE -->
    <script src="~/Scripts/app.min.js"></script>

    <script type="text/javascript">
        runAllForms();
        $("#divProcessing").hide(); 
    
        $(function () {
            /* Validation */
            $("#login-form").validate({
                /* Rules for form validation */
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 8,
                        maxlength: 20
                    }
                },
                /* Messages for form validation */
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    password: {
                        required: 'Please enter your password'
                    }
                },
                submitHandler: function () {
                    $("#divProcessing").show();
                    var token = $('[name=__RequestVerificationToken]').val();
                    var headers = {};
                    headers["__RequestVerificationToken"] = token;
                    var email = document.getElementById("email").value;
                    var password = document.getElementById("password").value;

                    $.ajax({
                        url: '/Login/CheckCredentials',
                        type: 'POST',
                        dataType: 'json',
                        headers: headers,
                        data: JSON.stringify({ email: email, password: password }),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                          
                        }
                    });
                },
                // Do not change code below alert alert-danger fade in
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

        });


    </script>

    <script type="text/javascript">
 
    var ButtonKeys = { "EnterKey": 13 };
    $(function () {
   
        $("#login-form").keypress(function (e) {
            if (e.which == ButtonKeys.EnterKey) {
                document.getElementById("btn_login").click();
            }
        });
    });
    </script>

</body>
</html>