@model RouteOptimization.Infrastructure.ProductViewModel
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    function loadlist() {
        var ProductID = $("#ProductID").val();
        var Name = $("#Name").val();
        var ProductNumber = $("#ProductNumber").val();
        var ListPrice = $("#ListPrice").val();
        var Size = $("#Size").val();
        var Weight = $("#Weight").val();
        var mydata = { ProductID: ProductID, Name: Name, ProductNumber: ProductNumber, ListPrice: ListPrice, Size: Size, Weight: Weight };
        debugger;
        $.ajax({
            url: '/Product/Save',
            type: 'POST',
            async: false,
            data:mydata,
            success: function (data) {
                alert("success1")
                $.ajax({
                    url: '/Product/GetProductList',
                   // type:'POST',
                    success: function (data) {
                        $("#productList").html(data);
                        alert("success")
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus);
                        alert(errorThrown);
                    }
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
                alert(errorThrown);
            }
        });
    }
</script>
<section id="widget-grid">

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-0" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
                <header role="heading">
                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                    <h2>New Product:</h2>
                </header>
                <div>
                    <div id="productContent" class="widget-body no-padding">
                        @Html.Partial("Partial", Model)
                    </div>
                </div>

                </div>
        </article>
    </div>
</section>
<!--DataTable start-->
<div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Product List:</h2>

            </header>

            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div id="productList" class="widget-body no-padding">
                    @Html.Partial("_Product", Model.AllProducts.ToList())
                </div>

            </div>
        </div>
    </article>
</div>

<script type="text/javascript">
    function load(id) {
        debugger;
        var ProductID = id;
        $.ajax({
            url: '/Product/Edit',
            type: 'POST',
            data:{ ProductID: ProductID },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#productcontent").html(data);
            },
            error: function (data) {
                $("#Productcontent").html(data);
                alert("Error")
            }
        });
    }
</script>